<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#ex-75" data-toc-modified-id="ex-75-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>ex 75</a></span></li><li><span><a href="#ex-29" data-toc-modified-id="ex-29-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>ex 29</a></span></li><li><span><a href="#ex-36" data-toc-modified-id="ex-36-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>ex 36</a></span></li><li><span><a href="#ex-39" data-toc-modified-id="ex-39-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>ex 39</a></span></li><li><span><a href="#ex-41" data-toc-modified-id="ex-41-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>ex 41</a></span></li><li><span><a href="#ex-49" data-toc-modified-id="ex-49-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>ex 49</a></span></li></ul></div>

[pandas excercices](https://www.machinelearningplus.com/python/101-pandas-exercises-python/)

## ex 75

In [1]:
import pandas as pd 


df = pd.DataFrame(["STD, City    State",
"33, Kolkata    West Bengal",
"44, Chennai    Tamil Nadu",
"40, Hyderabad    Telengana",
"80, Bangalore    Karnataka"], columns=['row'])

In [9]:
df_out = df.row.str.split(',|    ', expand=True)

# Make first row as header

new_header = df_out.iloc[0]
df_out = df_out[1:]
df_out.columns = new_header
df_out

0 STD        City        State
1  33     Kolkata  West Bengal
2  44     Chennai   Tamil Nadu
3  40   Hyderabad    Telengana
4  80   Bangalore    Karnataka

In [34]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [35]:
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

In [37]:
~ser1.isin(ser2)

0     True
1     True
2     True
3    False
4    False
dtype: bool

In [10]:
# Input
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

# Solution
ser.map(lambda x: len(x))

0    3
1    2
2    4
3    4
dtype: int64

## ex 29

Replace the spaces in my_str with the least frequent character

In [18]:
# Input
my_str = 'dbc deb abed gade'

# Solution
ser = pd.Series(list('dbc deb abed gade'))
freq = ser.value_counts()
print(freq)
least_freq = freq.dropna().index[-1]
"".join(ser.replace(' ', least_freq))

d    4
b    3
e    3
     3
a    2
g    1
c    1
dtype: int64

'dbccdebcabedcgade'

## ex 36

Import ‘crim’ and ‘medv’ columns of the BostonHousing dataset as a dataframe

In [19]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', usecols=['crim', 'medv'])

In [20]:
df.head()

      crim  medv
0  0.00632  24.0
1  0.02731  21.6
2  0.02729  34.7
3  0.03237  33.4
4  0.06905  36.2

## ex 39

Rename the column Type as CarType in df and replace the ‘.’ in column names with ‘_’.

In [21]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution
# Step 1:
df=df.rename(columns = {'Type':'CarType'})
# or
df.columns.values[2] = "CarType"

# Step 2:
df.columns = df.columns.map(lambda x: x.replace('.', '_'))
print(df.columns)

Index(['Manufacturer', 'Model', 'CarType', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Make'],
      dtype='object')

## ex 41

Count the number of missing values in each column of df. Which column has the maximum number of missing values?

In [26]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution
n_missings_each_col = df.apply(lambda x: x.isnull().sum())
n_missings_each_col.argmax()

23

In [27]:
n_missings_each_col

Manufacturer           4
Model                  1
Type                   3
Min.Price              7
Price                  2
Max.Price              5
MPG.city               9
MPG.highway            2
AirBags                6
DriveTrain             7
Cylinders              5
EngineSize             2
Horsepower             7
RPM                    3
Rev.per.mile           6
Man.trans.avail        5
Fuel.tank.capacity     8
Passengers             2
Length                 4
Wheelbase              1
Width                  6
Turn.circle            5
Rear.seat.room         4
Luggage.room          19
Weight                 7
Origin                 5
Make                   3
dtype: int64

## ex 49

From df, filter the 'Manufacturer', 'Model' and 'Type' for every 20th row starting from 1st (row 0).

In [28]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution
print(df.iloc[::20, :][['Manufacturer', 'Model', 'Type']])

   Manufacturer    Model     Type
0         Acura  Integra    Small
20     Chrysler  LeBaron  Compact
40        Honda  Prelude   Sporty
60      Mercury   Cougar  Midsize
80       Subaru   Loyale    Small