<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#basic-exercices" data-toc-modified-id="basic-exercices-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>basic exercices</a></span><ul class="toc-item"><li><span><a href="#exercice-1" data-toc-modified-id="exercice-1-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>exercice 1</a></span></li><li><span><a href="#question-2" data-toc-modified-id="question-2-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>question 2</a></span></li><li><span><a href="#question-3" data-toc-modified-id="question-3-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>question 3</a></span></li><li><span><a href="#question-4" data-toc-modified-id="question-4-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>question 4</a></span></li><li><span><a href="#question-5" data-toc-modified-id="question-5-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>question 5</a></span></li><li><span><a href="#question-6" data-toc-modified-id="question-6-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>question 6</a></span></li><li><span><a href="#question-7" data-toc-modified-id="question-7-1.7"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>question 7</a></span></li><li><span><a href="#question-8" data-toc-modified-id="question-8-1.8"><span class="toc-item-num">1.8&nbsp;&nbsp;</span>question 8</a></span></li><li><span><a href="#question-9" data-toc-modified-id="question-9-1.9"><span class="toc-item-num">1.9&nbsp;&nbsp;</span>question 9</a></span></li><li><span><a href="#question-10" data-toc-modified-id="question-10-1.10"><span class="toc-item-num">1.10&nbsp;&nbsp;</span>question 10</a></span></li><li><span><a href="#question-11" data-toc-modified-id="question-11-1.11"><span class="toc-item-num">1.11&nbsp;&nbsp;</span>question 11</a></span></li><li><span><a href="#question-13" data-toc-modified-id="question-13-1.12"><span class="toc-item-num">1.12&nbsp;&nbsp;</span>question 13</a></span></li><li><span><a href="#question-14" data-toc-modified-id="question-14-1.13"><span class="toc-item-num">1.13&nbsp;&nbsp;</span>question 14</a></span></li><li><span><a href="#question-15" data-toc-modified-id="question-15-1.14"><span class="toc-item-num">1.14&nbsp;&nbsp;</span>question 15</a></span></li></ul></li><li><span><a href="#loop-exercices" data-toc-modified-id="loop-exercices-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>loop exercices</a></span><ul class="toc-item"><li><span><a href="#question-1" data-toc-modified-id="question-1-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>question 1</a></span></li><li><span><a href="#question-3" data-toc-modified-id="question-3-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>question 3</a></span></li><li><span><a href="#question-6" data-toc-modified-id="question-6-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>question 6</a></span></li><li><span><a href="#question-11" data-toc-modified-id="question-11-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>question 11</a></span></li><li><span><a href="#question-12" data-toc-modified-id="question-12-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>question 12</a></span></li></ul></li><li><span><a href="#functions" data-toc-modified-id="functions-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>functions</a></span><ul class="toc-item"><li><span><a href="#question-2" data-toc-modified-id="question-2-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>question 2</a></span></li><li><span><a href="#question-6" data-toc-modified-id="question-6-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>question 6</a></span></li></ul></li><li><span><a href="#dictionaries" data-toc-modified-id="dictionaries-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>dictionaries</a></span><ul class="toc-item"><li><span><a href="#question-1" data-toc-modified-id="question-1-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>question 1</a></span></li><li><span><a href="#question-2" data-toc-modified-id="question-2-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>question 2</a></span></li><li><span><a href="#question-4" data-toc-modified-id="question-4-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>question 4</a></span></li><li><span><a href="#question-9" data-toc-modified-id="question-9-4.4"><span class="toc-item-num">4.4&nbsp;&nbsp;</span>question 9</a></span></li></ul></li></ul></div>

[lien vers les exercices](https://pynative.com/python-basic-exercise-for-beginners/)

# basic exercices

## exercice 1

Given a two integer numbers return their product and  if the product is greater than 1000, then return their sum

In [6]:
def multiplication_or_sum(num1, num2):
    product = num1 * num2
    if product <= 1000:
        return product
    else:
        return num1 + num2

number1 = 20
number2 = 30

print("\n")
result = multiplication_or_sum(number1, number2)
print("The result is", result)

The result is 600

## question 2

 Given a range of first 10 numbers, Iterate from start number to the end number and print the sum of the current number and previous number

In [10]:
print('Printing current and previous number sum in a given range(10)')
print('Current Number {} Previous Number {} Sum: {}'.format(0,0,0))
for i in range(1,10):
    print('Current Number {} Previous Number {} Sum: {}'.format(i,i-1,i+i-1))

Printing current and previous number sum in a given range(10)
Current Number 0 Previous Number 0 Sum: 0
Current Number 1 Previous Number 0 Sum: 1
Current Number 2 Previous Number 1 Sum: 3
Current Number 3 Previous Number 2 Sum: 5
Current Number 4 Previous Number 3 Sum: 7
Current Number 5 Previous Number 4 Sum: 9
Current Number 6 Previous Number 5 Sum: 11
Current Number 7 Previous Number 6 Sum: 13
Current Number 8 Previous Number 7 Sum: 15
Current Number 9 Previous Number 8 Sum: 17

In [12]:
def sumNum(num):
    previousNum = 0
    for i in range(num):
        sum = previousNum + i
        print("Current Number", i, "Previous Number ", previousNum," Sum: ", sum)
        previousNum = i

print("Printing current and previous number sum in a given range(10)")
sumNum(10)

Printing current and previous number sum in a given range(10)
Current Number 0 Previous Number  0  Sum:  0
Current Number 1 Previous Number  0  Sum:  1
Current Number 2 Previous Number  1  Sum:  3
Current Number 3 Previous Number  2  Sum:  5
Current Number 4 Previous Number  3  Sum:  7
Current Number 5 Previous Number  4  Sum:  9
Current Number 6 Previous Number  5  Sum:  11
Current Number 7 Previous Number  6  Sum:  13
Current Number 8 Previous Number  7  Sum:  15
Current Number 9 Previous Number  8  Sum:  17

## question 3

Given a string, display only those characters which are present at an even index number.

In [27]:
def string_even(s):
    for i in range(0,len(s),2):
        print(s[i])
    return s

In [28]:
string_even('pynative')

p
n
t
v

'pynative'

## question 4

Given a string and an integer number n, remove characters from a string starting from zero up to n and return a new string

In [31]:
def removechar(s,n):
    return s[n:]

In [32]:
removechar('pynative',3)

'ative'

## question 5

Given a list of numbers, return True if first and last number of a list is same

In [33]:
def first_and_last(l):
    return l[0]==l[-1]

In [35]:
first_and_last([1,2,3,4,0])

False

## question 6

Given a list of numbers, Iterate it and print only those numbers which are divisible of 5

In [38]:
def div_by_five(l):
    for num in l:
        if num%5==0:
            print(num)

In [39]:
div_by_five([10,20,33,46,55])

10
20
55

## question 7

Return the total count of sub-string “Emma” appears in the given string

In [46]:
def string_count(s):
    l=s.split(' ')
    print(l)
    count=0
    for el in l:
        if el=='Emma':
            count+=1
    return count

In [47]:
string_count("Emma is a good developer. Emma is a writer")

['Emma', 'is', 'a', 'good', 'developer.', 'Emma', 'is', 'a', 'writer']

2

In [48]:
sampleStr = "Emma is good developer. Emma is a writer"
cnt = sampleStr.count("Emma")
print(cnt)

2

In [50]:
def count_emma(statement):
    print("Given String: ", statement)
    count = 0
    for i in range(len(statement) - 1):
        count += statement[i: i + 4] == 'Emma'
    return count

count = count_emma("Emma is good developer. Emma is a writer")
print("Emma appeared ", count, "times")

Given String:  Emma is good developer. Emma is a writer
Emma appeared  2 times

## question 8

In [59]:
for i in range(1,6):
    print(('{} '.format(i))*i)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [62]:
for num in range(6):
    for i in range(num):
        print (num, end=" ") #print number
    # new line after each row to display pattern correctly
    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

## question 9

Reverse a given number and return true if it is the same as the original number

In [67]:
def reverse_number(n):
    return n==int(str(n)[::-1])

In [70]:
reverse_number(121)

True

## question 10

Given two list of numbers create a new list such that new list should contain only odd numbers from the first list and even numbers from the second list

In [74]:
def two_list(l1,l2):
    l=[]
    for el in l1:
        if el%2==1:
            l+=[el]
    for el in l2:
        if el%2==0:
            l+=[el]
    return l

In [77]:
def two_list_shorter(l1,l2):

    return [el for el in l1 if el%2==1]+[el for el in l2 if el%2==0]

In [75]:
two_list([10,20,23,11,17],[13,43,24,36,12])

[23, 11, 17, 24, 36, 12]

In [78]:
two_list_shorter([10,20,23,11,17],[13,43,24,36,12])

[23, 11, 17, 24, 36, 12]

## question 11

Write a code to extract each digit from an integer, in the reverse order

In [81]:
n=7536
' '.join(str(n)[::-1])

'6 3 5 7'

In [82]:
number = 7536
print("Given number", number)
while (number > 0):
    # get the last digit
    digit = number % 10
    
    # remove the last digit and repeat the loop
    number = number // 10
    print(digit, end=" ")

Given number 7536
6 3 5 7

In [89]:
def income(n):
    if n<10000:
        return 0
    elif n<=20000:
        return (n-10000)*.1
    else:
        return (10000)*.1+(n-20000)*.2

In [90]:
income(45000)

6000.0

## question 13

Print multiplication table form 1 to 10

In [103]:
for i in range(1,11):
    
    for j in range(1,11):
        print('{}'.format(j*i),end=' ')
    print('\n')

1 2 3 4 5 6 7 8 9 10

2 4 6 8 10 12 14 16 18 20

3 6 9 12 15 18 21 24 27 30

4 8 12 16 20 24 28 32 36 40

5 10 15 20 25 30 35 40 45 50

6 12 18 24 30 36 42 48 54 60

7 14 21 28 35 42 49 56 63 70

8 16 24 32 40 48 56 64 72 80

9 18 27 36 45 54 63 72 81 90

10 20 30 40 50 60 70 80 90 100

In [104]:
for i in range(1, 11):
    for j in range(1, 11):
        print(i * j, end=" ")
    print("\t\t")

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

## question 14

In [106]:
for i in range(5,0,-1):
    for j in range(i):
        print('*',end=' ')
    print('\n')

* * * * *

* * * *

* * *

* *

*

## question 15

Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.

In [107]:
def exponent(base,exp):
    return base**exp

# loop exercices

## question 1

Print First 10 natural numbers using while loop

In [111]:
i=0
while(i<=10):
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9
10

## question 3

Accept number from user and calculate the sum of all number between 1 and given number

In [114]:
def sum_number(n):
    result=0
    for i in range(1,n+1,1):
        result+=i
    return result

## question 6

Given a number count the total number of digits in a number

In [115]:
def digits_number(n):
    return len(str(n))

In [116]:
digits_number(12345)

5

In [118]:
num = 75869
count = 0
while num != 0:
    num //= 10
    count+= 1
print("Total digits are: ", count)

Total digits are:  5

## question 11

 display all the prime numbers within a range

In [119]:
def prime_number(start,end):

    for num in range(start, end + 1):
        # all prime numbers are greater than 1
        # if number is less than or equal to 1, it is not prime
        if num > 1:
            for i in range(2, num):
                # check for factors
                if (num % i) == 0:
                    # not a prime number so break inner loop and
                    # look for next number
                    break
            else:
                print(num)

In [120]:
prime_number(25,50)

29
31
37
41
43
47

## question 12

 Display Fibonacci series up to 10 terms

In [121]:
terms = 10
# first two terms
num1, num2 = 0, 1
count = 0

print("Fibonacci sequence:")
while count < terms:
    print(num1, end="  ")
    temp = num1 + num2
    # update values
    num1 = num2
    num2 = temp
    count += 1

Fibonacci sequence:
0  1  1  2  3  5  8  13  21  34

# functions

## question 2

Write a function func1() such that it can accept a variable length of  argument and print all arguments value

In [123]:
def func1(*args):
    for i in args:
        print(i)

func1(20, 40, 60)
func1(80, 100)

20
40
60
80
100

## question 6

Write a recursive function to calculate the sum of numbers from 0 to 10

In [124]:
def sum_recursive(n):
    if n==0:
        return 0
    else:
        return n+sum_recursive(n-1)

# dictionaries

## question 1

In [126]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

dict(zip(keys,values))

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

## question 2

Merge following two Python dictionaries into one

In [127]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [128]:
{**dict1, **dict2}

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

## question 4

In [130]:
employees = ['Kelly', 'Emma', 'John']
defaults = {"designation": 'Application Developer', "salary": 8000}

In [131]:
dict.fromkeys(employees, defaults)

{'Kelly': {'designation': 'Application Developer', 'salary': 8000},
 'Emma': {'designation': 'Application Developer', 'salary': 8000},
 'John': {'designation': 'Application Developer', 'salary': 8000}}

In [132]:
sampleDict = { 
  "name": "Kelly",
  "age":25, 
  "salary": 8000, 
  "city": "New york" }

keys = ["name", "salary"]

newDict = {k: sampleDict[k] for k in keys}
print(newDict)

{'name': 'Kelly', 'salary': 8000}

In [133]:
sampleDict = {'a': 100, 'b': 200, 'c': 300}

In [138]:
sampleDict.values()

dict_values([100, 200, 300])

## question 9

Get the key corresponding to the minimum value from the following dictionary

In [140]:
sampleDict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

In [141]:
min(sampleDict, key=sampleDict.get)

'Math'