<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#ex-75" data-toc-modified-id="ex-75-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>ex 75</a></span></li></ul></div>

[pandas excercices](https://www.machinelearningplus.com/python/101-pandas-exercises-python/)

# ex 75

In [1]:
import pandas as pd 


df = pd.DataFrame(["STD, City    State",
"33, Kolkata    West Bengal",
"44, Chennai    Tamil Nadu",
"40, Hyderabad    Telengana",
"80, Bangalore    Karnataka"], columns=['row'])

In [9]:
df_out = df.row.str.split(',|    ', expand=True)

# Make first row as header

new_header = df_out.iloc[0]
df_out = df_out[1:]
df_out.columns = new_header
df_out

0 STD        City        State
1  33     Kolkata  West Bengal
2  44     Chennai   Tamil Nadu
3  40   Hyderabad    Telengana
4  80   Bangalore    Karnataka

In [30]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))